footer {
    background-color: $orange-300;

    p{
        font-size: 0.9375rem;
        color: $white;
        padding-top: 26px;
    }

    .social {
        margin-top: 30px;
        padding-bottom: 25px;
    }
}