header {
    padding: 0;
   
    img {
        margin: 10px 0 10px 0;
    }
    
    .contact {
        margin-top: 10px;

        h2 {
            margin-bottom: 0;
            font-size: 2.8125rem;
            font-weight: 700;
            color: $orange-200;
            line-height: 60px;
        }
       
        p {
            line-height: 0;
            font-size: 1.25rem;
            color: $lightblue-100;
            margin-bottom: 6px;
        }
    }
}
