body {  
    font-family: 'Hind';
    font-size: 16px;
}

hr {
  height: 2.5px !important;
  color: $white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
}

.border-line {
  border-bottom: solid 3px $orange-100;
}

p {
  margin: 0;
}
