.fa-phone {
    font-size: 35px;
    margin-right: -8px;
    margin-top: 1px;
    color: $maroon-100;
}

.fa-check {
    position: absolute;
    left: 0;
    color: $orange-200;
}

.fa-star {
    font-size: 20px;
    color: $maroon-100;
    margin-top: 16px;
}

.fa-facebook-f {
    color: $maroon-100;
    margin-right: 20px;
}

.fa-twitter {
    color: $maroon-100;
    margin-right: 20px;
}

.fa-linkedin-in {
    color: $maroon-100;
    margin-right: 20px;
}

.fa-youtube {
    color: $maroon-100;
    margin-right: 20px;
}