$black: #111111;
$white: #FFFFFF;

// Colors
$white-200: #f4f4f4;
$maroon-100: #561708;
$orange-100: #d15625;
$orange-200: #d05625;
$orange-300: #dc8659;
$lightblue-100: #6c97bc;
$lightblue-200: #46749b;
$grey-100: #999999;
